/* .container, .main {
    z-index: 1;
} */

.main {
    /* position: relative; */
    top: 90px;
    background: url(../public/img/justinpiano3.jpeg) no-repeat center;
    background-size: cover;
    height: 600px;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    

    
}

.container {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
    margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  width: 600px;
  align-items: center;
  color:#f7ebcb;
  margin-bottom: 90px;
}

@media screen and (max-width:633px) {
    .container {
        font-size: 2rem;
        width: 300px;
        flex-direction: column;
        
    }

    .main {
        height: 300px;
    }
}




