

.stripe1 {
background-color: #f7ebcb;
height: 20px;
width: 100%;
}

.stripe2 {
    background-color: #f3aa43;
    height: 20px;
    width: 100%;
}

.stripe3 {
    background-color: #f04f24;
    height: 20px;
    width: 100%;
}